
> temp_project@0.1.0 npx
> prisma migrate diff --from-schema-datamodel prisma/schema_temp.prisma --to-schema-datamodel prisma/schema.prisma --script

-- AlterTable
ALTER TABLE "Project" ADD COLUMN     "tools" JSONB;

